In [1]:
import scipy.stats as st
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cat = pd.read_csv('categorical.csv')
cat

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate,Offer4,Call Center,Two-Door Car,Medsize

In [3]:
num = pd.read_csv('numerical.csv')

In [7]:
data = pd.concat([cat,num], axis=1)

In [8]:
data

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,...,vehicle_class,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate,Offer1,...,Two-Door Car,Medsize,2763.519279,56274,69,32,5,0,1,384.811147
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal,Offer3,...,Four-Door Car,Medsize,6979.535903,0,94,13,42,0,8,1131.464935
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal,Offer1,...,Two-Door Car,Medsize,12887.431650,48767,108,18,38,0,2,566.472247
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate,Offer1,...,SUV,Medsize,7645.861827,0,106,18,65,0,7,529.881344
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal,Offer1,...,Four-Door Car,Medsize,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal,Offer2,...,Four-Door Car,Medsize,23405.987980,71941,73,18,89,0,2,198.234764
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate,Offer1,...,Four-Door Car,Medsize,3096.511217,21604,79,14,28,0,1,379.200000
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate,Offer1,...,Four-Door Car,Medsize,8163.890428,0,85,9,37,3,2,790.784983
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal,Offer3,...,Four-Door Car,Large,7524.442436,21941,96,34,3,0,3,691.200000
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate,Offer4,...,Two-Door Car,Medsize,2611.836866,0,77,3,90,0,1,369.600000

### X , y SPLIT

In [17]:

y = data['income']
X = data.drop(['income'], axis=1)

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)

In [19]:
# Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

### Scaling our num and cat (train and test)

In [20]:
#TRAIN
X_train_num = X_train.select_dtypes(include=[np.number])
X_train_cat = X_train.select_dtypes(include=['object'])
#TEST
X_test_num = X_test.select_dtypes(include=[np.number])
X_test_cat = X_test.select_dtypes(include=['object'])

In [21]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_num_scaled = scaler.fit_transform(X_train_num)
X_test_num_scaled = scaler.transform(X_test_num)

In [22]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore')
X_train_cat_encoded = encoder.fit_transform(X_train_cat)
X_test_cat_encoded = encoder.transform(X_test_cat)

In [23]:
X_train_encoded = pd.concat([pd.DataFrame(X_train_num_scaled), pd.DataFrame(X_train_cat_encoded.toarray())], axis=1)
X_test_encoded = pd.concat([pd.DataFrame(X_test_num_scaled), pd.DataFrame(X_test_cat_encoded.toarray())], axis=1)

# check if all columns are numerical
print(X_train_encoded.dtypes)
print(X_test_encoded.dtypes)

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30    float64
31    float64
32    float64
33    float64
34    float64
35    float64
36    float64
37    float64
38    float64
39    float64
40    float64
41    float64
42    float64
43    float64
44    float64
45    float64
46    float64
47    float64
dtype: object
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30    float64
31    float64
32    float64
33    float64
34    float64
35    float64
36    float64
37    float64
38    float64
39    float64
40    float64
41    float64
42    float64
43    float64
44    float64
45    float64
46    float64
47    float64
dtype: object

In [24]:
X_test_encoded

,0,1,2,3,4,5,6,0,1,2,...,38,39,40,41,42,43,44,45,46,47
0,0.145692,0.613711,-0.904011,-0.756618,-0.423706,0.016473,0.392361,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,-0.797857,-0.820787,-0.904011,-0.470310,-0.423706,-0.822325,-0.423475,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-0.560572,0.379507,-0.210186,-1.078715,0.677297,-0.822325,0.506453,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,-0.772502,-0.645134,1.375699,0.782288,-0.423706,-0.822325,-0.123423,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,-0.478239,-0.762236,-0.804893,0.961231,-0.423706,0.855271,1.086995,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,-0.475256,-0.937888,-0.705775,-0.434522,-0.423706,1.274670,-1.476862,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1823,-0.091018,0.086753,-1.003129,-1.329235,2.879304,2.532866,-0.794785,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1824,-0.747200,-0.615858,0.880110,0.352826,-0.423706,-0.822325,-0.852885,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1825,-0.666051,-0.147451,0.880110,0.173883,-0.423706,-0.822325,-1.368418,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1826,-0.780761,-0.791511,-1.201364,-0.076637,-0.423706,-0.822325,-0.559293,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### TESTING AND COMPARING MODELS

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error

def train_test_models(models, X_train, y_train, X_test, y_test):
    mse_values = []
    for model in models:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        mse = mean_squared_error(y_test, y_pred)
        mse_values.append(mse)
    return mse_values
        
models = [LinearRegression(), KNeighborsRegressor(), MLPRegressor()]
mse_values = train_test_models(models, X_train_encoded, y_train, X_test_encoded, y_test)

/Users/meysouromezzine/opt/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [43]:
print(mse_values)

[299001203.49490446, 437216428.404948, 519588818.8934848]